<%=@errors%>

<%=form_for @user do |f|%>
<p>
  Email: <%=f.text_field :email%>
</p>

<p>
  Password: <%=f.password_field :password%>
</p>

<p>
  Confirmation: <%=f.password_field :password_confirmation%>
</p>

<%=submit_tag "Sign Up"%> or <%=link_to "Login", new_session_path%>

<%end%>